@model  List<MyDigitalMenu.ViewModel.DinnerTableViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Manager.cshtml";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>Masa Ekle</h2>
<br />
<div class="row">
    <div class="form-group col-12">
        @using (Html.BeginForm("Create", "Masa", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="ksayi">Kategori Adı</label>
                @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.GetData, null, new { @class = "form-control" })           
        
            </div>
            <div class="form-group">
                <label for="ksayi">Masa Adı</label>
                <input type="text" name="Adi" value="" placeholder="Masa Adını Giriniz" />
            </div>
            <div class="form-group">
                <label for="ksayi">Masa Numarası</label>
                <input type="number" name="Sira" value="" placeholder="Masa Numarasını Giriniz" />
            </div>
            <input type="submit" name="name" value="Kayıt" />
        }
    </div>
            <br />
            <br />
            <div class="col-12">
                <h2>Masalar</h2>
                <br />
                <table>
                    <tr>
                        
                        <th><b>Bölüm Adı</b></th>
                        <th><b>Masa Adı</b></th>
                        <th><b>Sıra</b></th>
                        <th colspan="1" style="text-align: center"><b>Düzenle</b></th>
                        <th colspan="1" style="text-align: center"><b>Sil</b></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SectionName</td>
                            <td>@item.TableName</td>
                            <td>@item.TableSortOrder</td>
                            <td> <button class="btn btn-primary btn-sm" onclick="Edittem(@item.TableId)"><span class="fa fa-edit"></span></button></td>
                            <td>  <button class="btn btn-danger btn-sm" onclick="DeleteItem(@item.TableId)"><span class="fa fa-trash"></span></button></td>
                        </tr>
                    }

                </table>

            </div>
        </div>
<script>
    function Edittem(Id) {
        var url = '/Masa/Edit/' + Id + '';
        window.location.href = url;
    }
    function DeleteItem(id) {
        var url = '/Masa/MasaDelete/' + id + '';
        window.location.href = url;
    }
</script>

